.body {
  padding: 0 7vw;
  font-family: "Poppins", sans-serif;
  margin-top: 92px;
}

// Hero Container
.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  height: max(330px, 30vw);

}



// Hero Image
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6b7280;
  width: 66%;
  background: #447dcc;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: cover;

  // play container
  .play {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 9999px;
    height: 108px;
    width: 108px;

    // play Icon
    .inner {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 54px;
      width: 54px;
      background: #ffffff;
      border-radius: 9999px;
      color: #0ea5e9;
      font-size: 28px;
    }
  }
}

// Mid Text Section
.mid {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 4vh;
  margin-bottom: 2.5vh;

  span {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #6b7280;
    font-weight: 500;

    &:first-child {
      color: #111827;
      font-weight: 600;
      font-size: 1.25rem;
      line-height: 1.5rem;
    }
  }
}

// Cards Grid
.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 2.8vw;

  
}

/*Responsive*/

//Large Screen Sizes
@media (min-width: 1350px) {
  .hero {
    height: 420px;
  }
}

//Medium Devices Breakpoints
@media (max-width: 1217px) {

}

//Small devices Breakpoints
@media (max-width: 906px) {

  .hero {
    display: none;
  }
}

// Mobile
@media (max-width: 600px) {
  
  .mid{
    span{
      &:first-child {
        color: #eb5712;
        font-weight: 500;
        font-size: 1.1rem;
        line-height: 1.23rem;
      }
    }
  }
  .main {
    width: 100%;
  }

  .main {
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;

    .play {
      height: 78px;
      width: 78px;

      .inner {
        height: 44px;
        width: 44px;
        font-size: 25px;
      }
    }
  }
}